---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
import MusicPlatformsLinks from '../components/MusicPlatformsLinks.astro';
import HeaderText from '../components/HeaderText.astro';
import EventsSection from '../components/events/EventsSection';
import SpotifyIframe from '../components/SpotifyIframe.astro';

import NeluPortraitPicture from "./../assets/nelu-portrait.jpg?url";
import NeluGuitarPicture from "./../assets/nelu-guitar.jpg?url";

import RevealableContent from "./../components/RevealableContent.astro";
import BackgroundImage from "./../components/BackgroundImage.astro";
---
<Layout>
  <header slot="header" class="relative">
    <section class="min-h-[75dvh] md:min-h-[50vh]">
      <RevealableContent class="absolute">
        <BackgroundImage src={NeluPortraitPicture} class="items-center">
          <MusicPlatformsLinks />
          <div class="absolute bottom-0 w-full h-36 mt-auto sm:hidden bg-linear-to-t from-dark to-[rgba(0,0,0,0)]"></div>
          <HeaderText />
        </BackgroundImage>
      </RevealableContent>
    </section>
  </header>
  <main slot="main" class="grid sm:grid-cols-2 xl:grid-cols-3 flex-grow-1">
    <section class="bg-dark text-light">
      <RevealableContent class="p-4 text-center">
        <h2 class="subtitle">Bienvenido</h2>
        <p>Inserte texto aqui</p>
      </RevealableContent>
    </section>
    <section class="mx-auto w-full">
      <RevealableContent class="p-4 text-center bg-light text-dark">
        <h2 class="subtitle">Ultimos lanzamientos</h2>
        <SpotifyIframe />
      </RevealableContent>
    </section>
    <section class="flex flex-col relative text-light col-span-full xl:col-auto">
      <RevealableContent>
        <div class="z-1 p-4 text-center flex flex-col">
          <h2 class="subtitle text-primary">Proximos eventos</h2>
          <EventsSection client:load />
        </div>
      </RevealableContent>
    </section>
  </main>
</Layout>
