---
import Layout from '../layouts/Layout.astro';
import MusicPlatformsLinks from '../components/MusicPlatformsLinks.astro';
import HeaderText from '../components/HeaderText.astro';
import HeaderPicture from '../components/HeaderPicture.astro';
import SectionRect from '../components/SectionRect.astro';

import NeluPortraitPicture from "./../assets/nelu-portrait.jpg?url";
import NeluGuitarPicture from "./../assets/nelu-guitar.jpg?url";
---
<Layout>
  <header>
    <MusicPlatformsLinks />
    <HeaderPicture img={NeluPortraitPicture}>
      <HeaderText />
    </HeaderPicture>
  </header>
  <main>
    <SectionRect title="Bienvenido" bg="dark" fg="light">
      Inserte contenido aquí.
    </SectionRect>
    <SectionRect title="Ultimos lanzamientos" bg="light" fg="dark">
      Inserte otro contenido aquí tambien.
    </SectionRect>
    <SectionRect title="Proximos eventos" bg={NeluGuitarPicture} fg="light">
      Inserte otro contenido aquí tambien.
    </SectionRect>
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
  }

  @media (min-width: 720px) {
    main {
      grid-template-columns: repeat(2, 1fr);
    }

    :global(main > section:nth-child(3n)) {
      grid-column: 1 / -1;
    }
  }

  @media (min-width: 1200px) {
    main {
      grid-template-columns: repeat(3, 1fr);
    }
    :global(main > section:nth-child(3n)) {
      grid-column:  auto;
    }
  }
</style>
