---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
import MusicPlatformsLinks from '../components/MusicPlatformsLinks.astro';
import HeaderText from '../components/HeaderText.astro';
import EventsList from '../components/events/EventsList';

import NeluPortraitPicture from "./../assets/nelu-portrait.jpg?url";
import NeluGuitarPicture from "./../assets/nelu-guitar.jpg?url";
---
<Layout>
  <header slot="header" class="relative">
    <section
        style={{backgroundImage: `url('${NeluPortraitPicture}')`}}
        class="flex flex-col
               bg-cover bg-center
               min-h-[100dvh] md:min-h-[50vh]
               transition-[background-size]">
      <MusicPlatformsLinks />
      <HeaderText />
      <div class="absolute bottom-0 w-full h-36 mt-auto sm:hidden
                  bg-linear-to-t from-dark to-[rgba(0,0,0,0)]"></div>
    </section>
  </header>
  <main slot="main" class="grid sm:grid-cols-2 xl:grid-cols-3
    [&>section]:p-4 [&>section>h2]:text-2xl [&>section>h2]:font-bold [&>section>h2]:mb-3 [&>section>h2]:italic
    ">
    <section class="bg-dark text-light">
      <h2>Bienvenido</h2>
      <p>Inserte texto aqui</p>
    </section>
    <section class="bg-light text-dark">
      <h2>Ultimos lanzamientos</h2>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/album/10l6R2qwQwPBMRTPMCANkJ?utm_source=generator&theme=0"
        width="100%"
        height="512"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy">
      </iframe>
    </section>
    <section
      style={{backgroundImage: `url('${NeluGuitarPicture}')`}}
      class="bg-cover bg-center text-light col-span-full xl:col-auto">
      <h2>Proximos eventos</h2>
      <EventsList client:load />
    </section>
  </main>

  <Footer />
</Layout>
