---
---
<div class="entry-picture">
  <span class="text-overlay">
    <h1 class="title">
      <span class="prefix">Me llamo</span>
      <span class="name">Nelú</span>
    </h1>
    <p class="subtitle">Música y compositora</p>
  </span>
</div>

<style>
  .entry-picture {
    position: relative;
    background-image: url("./../assets/nelu-portrait.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }

  .text-overlay {
    margin-left: 2rem;
    position: absolute;
    top: 20vh;
    line-height: 0.84;
    color: var(--color-light);
    font-size: 36px;
  }

  .title {
    font-weight: 800;
    width: fit-content;
  }

  .prefix {
    display: block;
    font-size: 1em;
  }

  .name {
    color: var(--color-primary);
    font-size: calc((1em * 1.954) + (0.027em * 2));
    margin-left: -0.027em;
  }

  .subtitle {
    font-size: 0.593em;
    margin-left: 0.12em;
    margin-top: -2em;
    letter-spacing: 0.13em;
    line-height: 1.3;
    text-transform: uppercase;
  }
</style>
