---
type EventProps = {
  datetime: Date,
  location: string,
};

const { datetime, location } = Astro.props as EventProps;

const date = new Intl.DateTimeFormat(
  'es-ES', { day: 'numeric', month: 'short', year: 'numeric' }).format(datetime)
const time = new Intl.DateTimeFormat(
  'en-US', { hour: '2-digit', minute: '2-digit', hour12: true }).format(datetime)
---
<div class="bg-dark p-3 flex flex-row justify-between rounded-md">
  <span class="text-primary font-bold">
    <div>{date}</div>
    <div>{time}</div>
  </span>
  <div class="italic text-right">{location}</div>
</div>
