---
import EventCard from "./EventCard.astro";
import { db, Event } from "astro:db";

const events = await db.select().from(Event);
---
<span class="flex flex-col gap-4">
  {
    events.map(({date, location}) => (
        <EventCard datetime={date} location={location}/>
    ))
  }
</span>
