---
import Name from "./../assets/nelu-name.svg?raw";
import Subtext from "./../assets/nelu-subtext.svg?raw";
---
<div class="size-fit mt-auto md:mt-0 l g:mb-auto text-light p-4 flex flex-col gap-2 z-1 [&_svg]:w-50">
  <h1 class="sr-only">Me llamo Nelú. Música y compositora</h1>
  <div set:html={Name} class="[&_svg]:fill-light size-fit"/>
  <div class="[&_svg]:fill-light" set:html={Subtext} />
</div>
