---
const { url, svg } = Astro.props;
---
<li class="border-b-4 border-primary/0 hover:border-primary/100
           [&_svg]:fill-light hover:[&_svg]:fill-primary [&_svg]:w-[100%] [&_svg]:h-[100%]">
  <a href={url}>
    <div class="h-[2rem] md:h-[2rem]" set:html={svg} />
  </a>
</li>
