---
type Props = { title: string; bg: string, fg: string; };
const { title, bg, fg } = Astro.props as Props;

const hasImage = bg.includes('.jpg');
const bgImage = hasImage ? `url("${bg}")` : 'none';
const bgColor = hasImage ? 'var(--color-dark)' : `var(--color-${bg})`;
const fgColor = `var(--color-${fg})`;
---
<section class:list={['custom-section','colored', hasImage && 'has-image']}>
  <h2>{title}</h2>
  <slot />
</section>

<style define:vars={{ bgColor, fgColor, bgImage }}>
  .custom-section {
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
  }

  .colored {
    background-color: var(--bgColor);
    color: var(--fgColor);
  }

  .has-image {
    background-image: var(--bgImage);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  h2 {
    font-size: 2rem;
    font-style: italic;
  }

  @media (min-width: 1200px) {
    .custom-section {
      height: fit-content;
    }
  }

</style>
